body {
  margin: 0;
}

.box {
  /* background-color: #ffff00; */
  color: #ff00ff;
  height: 100px;
  width: 100px;
  padding: 50px;
  border: 30px solid red;
  margin-bottom: 50px;
  background: linear-gradient(red, yellow);
}

.first {
  margin-top: 80px;
  padding: 10px;
  background-color: blue;
}

.second {
  margin-top: 100px;
  background-color: green;
  height: 100px;
}

.f1 {
  display: inline-block;
  font-size: 16px;
  padding: 0 40px 0 40px;
  width: 33.33%;
  border-right: 1px solid black;
  box-sizing: border-box;
}
.f2 {
  display: inline-block;
  font-size: 16px;
  padding: 0 40px 0 40px;
  width: 33.33%;
  box-sizing: border-box;
}
.d1 {
  font-size: 0px;
}
